<?xml version="1.0" encoding="utf-8" standalone="no"?><Classes>
  <Specification description="Эксперимент проводился в обычных условиях">
    <Feature description="Cmid" id="1"/>
    <Feature description="Cmax" id="2"/>
    <Feature description="T" id="3"/>
    <Feature description="Первая амплитуда" id="4"/>
    <Feature description="Вторая амплитуда" id="5"/>
    <Feature description="Третья амплитуда" id="6"/>
    <Feature description="Четвёртая амплитуда" id="7"/>
    <Feature description="Пятая амплитуда" id="8"/>
    <Feature description="Шестая амплитуда" id="9"/>
    <Feature description="Седьмая амплитуда" id="10"/>
    <Feature description="Восьмая амплитуда" id="11"/>
    <Feature description="Девятая амплитуда" id="12"/>
    <Feature description="Десятая амплитуда" id="13"/>
    <Feature description="Скорость мыши" id="14"/>
    <Feature description="Энергия" id="15"/>
    <Feature description="Длинна пути" id="16"/>
  </Specification>
  <Features></Features>
</Classes>